<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<%if user_signed_in? %>
  <%= link_to "performances", performances_path %>
<br>

  <%= link_to "businesses", businesses_path%>|
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
<%end%>



