<h1>New Performance</h1>

<% @performance.user_id = current_user.id %>
<% @performance.date = Date.today.strftime('%Y%m%d') %>

<%= render 'form', performance: @performance %>

<%= link_to 'Back', performances_path %>
